
.DateInput_input{
    font-size: 15px;
}



.left-side-bar{
    background-color: #f0f5f5;
    margin-left: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.summary{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: baseline;
    text-align: justify;
    font-size: small;
    margin-top: 1.5%;
    margin-left: 2%;
}
.summary-image{
    margin-top: 5%;
    margin-left: 2%;
}

.table{
    padding-top: 40%;
    border: #004d4d;
}

.summary-survey{
    padding-top: 16%;
}

.content{
    height: 100vh;
}
.radio{
    padding-top: 30%;
    display: block;

}

