
.DateInput_input{
    font-size: 15px;
}



.left-side-bar{
    background-color: #f0f5f5;
    margin-left: 0%;
    padding-left: 2%;
    padding-right: 5%;
}
.summary{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: baseline;
    text-align: justify;
    font-size: small;
    margin-top: 1.5%;
    margin-left: 2%;
}
.summary-image{
    margin-top: 5%;
    margin-left: 2%;
}

.table{
    padding-top: 5%;
    padding-left: 0%;
    padding-right: 0%;
    width: 50%;
    display: flex;
    font-size: x-small;
}

.summary-survey{
    padding-top: 10%;
}

.content{
    height: 100vh;
}
.radio{
    padding-top: 30%;
    display: block;

}

#my-date-picker-range{
    width: auto;
}


.drop-down{
    padding-inline: inherit;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    display: block;
}
